/*--------------------------------------------------------------------
*
* $VARIABLES
*
--------------------------------------------------------------------*/

fadeIn =
  transition all 1s linear
  opacity 1
  z-index 20
fadeInPopup =
  transition all 1s linear
  opacity 1
  z-index 100
fadeOut = 
  transition all 1s linear
  opacity 0
  z-index -1  
unsupported = 
  position relative
  top 0px
  left 0px
  margin 10px
  background red

//- Font sizes

$font-large  = 22px
$font-base   = 14px
$font-medium = 14px
$font-small  = 12px

//- Line Heights

$line-height-base     = 1.4
$line-height-headings = 1.2

//- Font families

$font-sans-serif = 'Open Sans', Arial, sans-serif

//- Heading sizes

$font-h1 = 24px
$font-h2 = 22px
$font-h3 = 16px
$font-h4 = 14px

//- Font weight

$font-weight-bold   = 700

//- Spacing

$space             = 20px
$ui-padding-spaced = 30px
$ui-padding-base   = 15px
$ui-padding-narrow = 5px

//- Colors

$green      = rgb(123, 192, 67)
$blue       = rgb(3, 175, 239)
$red        = rgb(192, 26, 46)
$orange     = rgb(249, 151, 40)
$yellow     = rgb(242, 197, 20)
$gray-light = rgb(245, 245, 245)
$gray       = rgb(212, 212, 212)
$gray-dark  = rgb(98, 98, 98)

$green-dark = darken($green, 30%)
$green-light = lighten($green, 95%)
