ClientConfig = {

    // Enable Client Features
    enableHD: false,
    enableCallControl: true,
    enableCallTimer: true,
    enableCallHistory: true,
    enableFullScreen: true,
    enableSelfView: true,
    enableCallStats: true,
    enableDialpad: true,
    enableMute: true,
    enableMessages: true,
    enableRegistrationIcon: false,
    enableConnectionIcon: true,
    enableWindowDrag: true,
    enableAutoAcceptReInvite: true,
    enableConnectLocalMedia: true,
    enableIms: false,
    enableSettings: false,
    enableAutoAnswer: false,
    pAssertedIdentity: '<sip:webguest@broadsoftlabs.com>',

    // Client Variables
    allowOutside: true,
    disableICE: true,
    volumeClick: 1,
    volumeDTMF: 1,
      // the following 5 attributes have to be configured for this webrtc client to be functional:
      websocketsServers: [{'ws_uri':'wss://wrs1.broadsoftlabs.com:8443', 'weight':0}],
      stunServer: 'stun.server.ip.address',
      stunPort: 3478,
      //networkUserId: 8323303810,
      domainFrom: 'broadsoftlabs.com',
      domainTo: 'broadsoftlabs.com',
    endCallURL: false,
    bandwidthLow: 128,
    bandwidthMed: 512,
    bandwidthHigh: 2048,
    expires: 365,
    debug: false,
    register: false,

    // Client Messages
    messageProgress: "Ringing",
    messageOutsideDomain: "Invalid Destination",
    messageStarted: "Call Started with {0}",
    messageHold: "Call {0} on hold",
    messageResume: "Call {0} resumed",
    messageEnded: "Call Ended with {0}",
    messageCall: "Performing NAT Tests",
    messageConnected: "Connected",
    messageConnectionFailed: "Connection Failed!",
    messageRegistered: "Registered",
    messageRegistrationFailed: "Registration Failed : {0}",
    messageEmptyDestination: "Invalid Number",
    messageGetUserMedia: "Retrieving User Media Failed"
};
