ClientConfig = {
    // Enable Client Features
    enableHD: true,
    enableCallControl: true,
    enableCallTimer: true,
    enableCallHistory: true,
    enableFullScreen: true,
    enableSelfView: true,
    enableCallStats: true,
    enableDialpad: true,
    enableMute: true,
    enableMessages: true,
    enableRegistrationIcon: true,
    enableConnectionIcon: true,
    enableWindowDrag: true,
    enableSettings: true,
    enableAutoAnswer: false,
    enableAutoAcceptReInvite: true,
    enableConnectLocalMedia: true,
    enableTransfer: true,
    enableHold: true,

    // Client Variables
    allowOutside: true,
    disableICE: true,
    volumeClick: 1,
    volumeDTMF: 1,
    websocketsServers: [{'ws_uri':'ws://webrtc.exarionetworks.com:8060', 'weight':0}],
    stunServer: '204.117.64.117',
    stunPort: 3478,
    domainFrom: 'broadsoft.com',
    domainTo: 'broadsoft.com',
    endCallURL: false,
    bandwidthLow: 128,
    bandwidthMed: 512,
    bandwidthHigh: 2048,
    expires: 365,
    debug: false,
    register: false,

    // Client Messages
    messageProgress: "Ringing",
    messageOutsideDomain: "Invalid Destination",
    messageStarted: "Call Started with {0}",
    messageHold: "Call {0} on hold",
    messageResume: "Call {0} resumed",
    messageEnded: "Call Ended with {0}",
    messageCall: "Performing NAT Tests",
    messageConnected: "Connected",
    messageConnectionFailed: "Connection Failed!",
    messageRegistered: "Registered",
    messageRegistrationFailed: "Registration Failed : {0}",
    messageEmptyDestination: "Invalid Number",
    messageGetUserMedia: "Retrieving User Media Failed"
};
