// IMPORTANT - if changing default values increase version to not break previous defaults assumed by wizard configurations 
ClientConfig = {

    // Enable Client Features
    enableHD: false,
    enableCallControl: true,
    enableCallTimer: true,
    enableCallHistory: true,
    enableFullScreen: true,
    enableSelfView: true,
    enableCallStats: true,
    enableDialpad: true,
    enableMute: true,
    enableMessages: true,
    enableRegistrationIcon: true,
    enableConnectionIcon: true,
    enableWindowDrag: true,
    enableAutoAcceptReInvite: true,
    enableConnectLocalMedia: true,
    enableIms: false,
    enableSettings: false,
    enableAutoAnswer: false,
    enableTransfer: true,
    enableHold: true,
    pAssertedIdentity: '<sip:webguest@broadsoftlabs.com>',

    // Client Variables
    allowOutside: true,
    disableICE: true,
    volumeClick: 1,
    volumeDTMF: 1,
      // the following 5 attributes have to be configured for this webrtc client to be functional:
      websocketsServers: [{'ws_uri':'wss://webrtc-gw.broadsoftlabs.com:8443', 'weight':0}],
      stunServer: '64.212.220.81',
      stunPort: 3478,
      domainFrom: 'broadsoftlabs.com',
      domainTo: 'broadsoftlabs.com',
    endCallURL: false,
    bandwidthLow: 128,
    bandwidthMed: 512,
    bandwidthHigh: 2048,
    expires: 365,
    debug: false,
    register: false,
    encodingResolution: "640x480",
    displayResolution: "640x480",
    view: "audioOnly",
    selfViewLocation: "bl",

    // Client Messages
    messageProgress: "Ringing",
    messageOutsideDomain: "Invalid Destination",
    messageStarted: "Call Started",
    messageHold: "Call placed on hold",
    messageResume: "Call removed from hold",
    messageEnded: "Call Ended",
    messageCall: "Performing NAT Tests",
    messageConnected: "Connected",
    messageConnectionFailed: "Connection failed",
    messageUnregistered: "Unregistered",
    messageRegistered: "Registration successful",
    messageRegistrationFailed: "Registration failed",
    messageEmptyDestination: "Invalid Destination",
    messageGetUserMedia: "Unable to Access Camera and/or Microphone"
};
