/***************************************************
 * webrtc.js
 * Created on Mon Jan 14 15:32:43 GMT 2013 by nathan
 *
 * $Author$
 * $Rev$
 * $Date$
 ***************************************************/
@font-face {
font-family: 'pictos';
	src: url('pictos-web.eot');
	src: local('☺'),
	url('pictos-web.woff') format('woff'),
	url('pictos-web.ttf') format('truetype'),
	url('pictos-web.svg#webfontIyfZbseF') format('svg');
}

body {
	background-color: #000000;
}

.icon {
	text-decoration: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
}

.icon:before {
	content: attr(data-icon);
	font-family:'pictos';
	margin: 0 0.35em 0 0;
	font-size: 30px;
	font-weight: normal;
}

.button:active {
	color: #FCD3A5;
	background: -webkit-gradient(linear, left top, right bottom, from(#7CDD07), to(#FAA51A));
	background: linear-gradient(to bottom left, #7CDD07, #FAA51A);
}

.button:hover {
	box-shadow: 0px 0px 10px #999;
}

.groupA:before {
	color: #000AF6;
}

.groupA:hover:before {
	color: #0082FF;
}

.groupB:before {
	color: #FFDD26;
}

.groupB:hover:before {
	color: #FF0000;
}

.groupC:before {
	color: #7CDD07;
}

.groupC:hover:before {
	color: #E99429;
}

.groupD:before {
  color: #FF0000;
}

.groupD:hover:before {
  color: #FF5F5F;
}

#authPopup {
	display: none;
	background: #333333;
	padding: 10px; 	
	border: 2px solid #DDDDDD;
	float: left;
	position: fixed;
	top: 50%; 
	left: 50%;
	box-shadow: 0px 0px 10px #999999;
	border-radius: 3px;
	font-size: 14px; 
	line-height: 18px;
}

#authPopup span {
	color: #999999; 
	font-size: 14px; 
	line-height: 18px;
}

#authPopup input {
	background: #666666; 
	border-bottom: 1px solid #333333;
	border-left: 1px solid #000000;
	border-right: 1px solid #333333;
	border-top: 1px solid #000000;
	color: #FFFFFF; 
	border-radius: 3px;
	font-family: arial;
	font-size: 16px;
	padding: 6px 6px 4px;
	width: 200px;
}

#authPopup button {
	border-color: #999999; 
	border-width: 1px;
	border-radius: 4px;
	color: #333333;
	cursor: pointer;
	padding: 6px 6px 4px;
	margin-top: 10px;
	font-size: 12px; 
	width: 214px;
}

#authPopup #alert {
	font-size: 20px;
	text-align: center;
	color: #FF0000;
}

#main {
	display: none;
	position: absolute;
	left: 25px;
	color: #666666; 
	font-family:arial;
	font-size: 18px;
	font-weight: bold;
}

#main input {
	background: #666666; 
	border-bottom: 1px solid #333;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	border-top: 1px solid #000;
	color: #FFFFFF; 
	border-radius: 3px;
	font-family:arial;
	font-size: 16px;
	padding: 6px 6px 4px;
	width: 250px;
}

#dialpadToggle {
	position: absolute;
	top: 25px;
	left: 268px;
}

#main button {
  display: none;
	position: absolute;
	top: 16px;
	left: 300px;
	border-color: #000000; 
	border-width: 1px;
	border-radius: 4px;
	color: #333333;
	cursor: pointer;
	padding: 6px 6px 4px;
	margin-top: 10px;
	width: 100px;
}

#logo{
  position: absolute;
  border: 0px;
  top: 5px;
  right: 150px;
}

#dialpad {
	display: none;
	position: absolute;
	top: 80px;
	left: 32px;
	letter-spacing: 20px;
}

#dialpad button {
	color: #333333;
	opacity: 0.8;
	font-family:arial;
	font-size: 20px;
	width: 50px;
	border-color: #000000; 
	border-width: 1px;
	border-radius: 4px;
	border-spacing: 5em;
	font-weight: bold;
	line-height: 50px;
	margin: .1em;
	border-top-style: outset;
	cursor: pointer;
}

#dialpad button:active {
	color: #FCD3A5;
	background: -webkit-gradient(linear, left top, left bottom, from(#F47A20), to(#FAA51A));
	background: linear-gradient(to left bottom, #F47A20, #FAA51A);
}

#dialpad button:hover {
	box-shadow: 1px 1px 20px #999999;
}

#remoteVideo {
	display: none;
	position: absolute;
	top: 100px;
	right: 25px;
	width: 640px;
	height: 480px;
	background-color: #191414;
	border-radius: 4px;
	border: 2px solid #DDDDDD;
	box-shadow: 0px 0px 10px #999999;
}

#remoteVideo.hd {
	display: none;
	position: absolute;
	top: 100px;
	right: 25px;
	width: 1280px;
	height: 720px;
	background-color: #191414;
	border-radius: 4px;
	border: 2px solid #DDDDDD;
	box-shadow: 0px 0px 10px #999999;
}

:-webkit-full-screen #remoteVideo {
	display: none;
	position: absolute;
	top: 0px;
	right: auto;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
}

#localVideo {
	display: none;
	position: absolute;
	top: 100px;
	right: 505px;
	width: 160px;
	height: 120px;
	background-color: #241D1D;
  border-radius: 4px;
	border: 2px solid #ddd;
	box-shadow: 0px 0px 10px #999999;
}

#localVideo.hd {
	display: none;
	position: absolute;
	top: 100px;
	right: 985px;
	width: 320px;
	height: 180px;
	background-color: #241D1D;
  border-radius: 4px;
	border: 2px solid #ddd;
	box-shadow: 0px 0px 10px #999999;
}

:-webkit-full-screen #localVideo {
	display: none;
	position: absolute;
	top: 0px;
	right: auto;
	left: 0px;
	width: 320px;
	height: 240px;
}

:-webkit-full-screen #localVideo.hd {
	display: none;
	position: absolute;
	top: 0px;
	right: auto;
	left: 0px;
	width: 320px;
	height: 180px;
}

#connected {
	display: none;
	position: absolute;
	top: 25px;
	right: 25px;
}

#registered {
	display: none;
	position: absolute;
	color: #60FE10;
	top: 25px;
	right: 90px;
}

#hangup {
  position: absolute;
  top: 585px;
  right: 25px;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
	display: none;
  padding: 6px 6px 4px;
  margin-top: 10px;
  width: 80px;
}

#hangup.hd {
	display: none;
	position: absolute;
	top: 830px;
	right: 25px;
}

:-webkit-full-screen button#hangup {
	display: none;
	position: absolute;
	top: auto;
	bottom: 25px;
	right: 25px;
}

#selfView {
	display: none;
	position: absolute;
	top: 600px;
	right: 580px;
}

#selfView.hd {
	display: none;
	position: absolute;
	top: 840px;
	right: 1220px;
}

:-webkit-full-screen #selfView {
	display: none;
	position: absolute;
	top: auto;
	right: auto;
	bottom: 25px;
	left: 100px;
}

#fullScreen {
	display: none;
	position: absolute;
	top: 600px;
	right: 630px;
}

#fullScreen.hd {
	display: none;
	position: absolute;
	top: 840px;
	right: 1270px;
}

:-webkit-full-screen #fullScreen {
	display: none;
	position: absolute;
	top: auto;
	right: auto;
	bottom: 25px;
	left: 25px;
}

#muteAudio {
  display: none;
  position: absolute;
  top: 600px;
  right: 530px;
}

#muteAudio.hd {
  display: none;
  position: absolute;
  top: 840px;
  right: 1170px;
}

:-webkit-full-screen #muteAudio {
  display: none;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 25px;
  left: 175px;
}


#timer {
	display: none;
	position: absolute;
	top: 600px;
	right: 425px;
	font-family: arial;
	font-size: 20px; 
	color: #90510c;
}

#timer.hd {
	position: absolute;
	top: 840px;
	right: 1015px;
	font-family: arial;
	font-size: 20px; 
	color: #90510c;
}

:-webkit-full-screen #timer {
	display: none;
	position: absolute;
	top: auto;
	right: auto;
	bottom: 25px;
	left: 200px;
}

#messages {
	position: absolute;
	top: 600px;
	right: 140px;
	font-family:arial;
	font-size: 20px; 
}

#messages.hd {
	position: absolute;
	top: 840px;
	right: 460px;
	font-family:arial;
	font-size: 20px; 
}

.normal {
	color: #999999;
}

.success {
	color: #00FF00;
}

.warning {
	color: #FFFF00;
}

.alert {
	color: #FF0000;
}

#callHistory {
	display: none;
	position: absolute;
	top: 330px;
	left: 25px;
	width: 265px;
	height: 375px;
	background-color: #191414;
	border-radius: 4px;
	border: 2px solid #DDDDDD;
	box-shadow: 0px 0px 10px #999999;
}

#callHistory .historyDestination {
	position: absolute;
	color: #0082FF;
	left: 40px;
	font-family:arial;
	font-size: 18px;
	text-decoration: none;
}

#callHistory .historyDirection {
	position: absolute;
	color: #0082FF;
	left: 200px;
	font-family:arial;
	font-size: 18px; 
}

#callHistory .historyStatus {
	position: absolute;
	color: #0082FF;
	left: 225px;
	font-family:arial;
	font-size: 18px; 
}

#callHistory .historyDate {
	position: absolute;
	color: #0082FF;
	left: 10px;
	font-family:arial;
	font-size: 10px; 
}

#callHistory .historyLength {
	position: absolute;
	color: #0082FF;
	left: 200px;
	font-family:arial;
	font-size: 10px; 
}

#callHistory .rowSpace {
	padding: .5em;
}

#historyToggle {
	position: absolute;
	top: 200px;
	left: 225px;
}

#settings {
	position: absolute;
	top: 160px;
	left: 225px;
}

#historyClear {
	display: none;
	position: absolute;
	top: 355px;
	left: 290px;
}
