.bdsft-client
  button
    border none
    border-radius 20px
    padding 5px 10px
    font-size 14px
    color #FFF
    background-color #999
    text-align center
  input
    background #333
    border 1px solid #3c3c3c
    color #d3d3d3
    font-family arial
    font-size 18px
    padding 0
    border-radius 0
    &:focus
      outline none

  .button
    &:active
      color #04AFF0
      background -webkit-gradient(linear, left top, right bottom, from(#7CDD07), to(#FAA51A))
      background linear-gradient(to bottom left, #7CDD07, #FAA51A)
    &:hover
      box-shadow 0px 0px 10px #999

  .ui-widget-content
    &.ui-dialog
      display none
      color #999999
      font-size 22px
      background #333333
      padding 10px
      border 2px solid #DDDDDD
      box-shadow 0px 0px 10px #999999
      border-radius 3px
      z-index 99

  .no-close
    .ui-dialog-titlebar-close
      display none


  .unsupported
    position absolute
    top 240px
    left 30px
    width 600px
    background-color #191414
    text-align center
    display none
    color white
    z-index 10

  .historyRowSample
    display none

  .default-color
    color #2BA6CB


  [id$="sample"]
    display none !important

  #javascript_disabled
    display block
    background-color white
    color black

  a
    &.disabled
      pointer-events none
      cursor default
      background-color #999
      opacity 0.5
