.callControl
  display none
  position relative
  left 0px
  top 0
  height 75px
  color #666666
  font-family arial
  font-size 18px
  font-weight bold
  height auto
  display block
  input
    background #333
    border 1px solid #3c3c3c
    color #d3d3d3
    font-family arial
    font-size 18px
    padding 0
    border-radius 0
    width 171px
    line-height 30px
    padding-left 8px
    padding-right 35px
    &:focus
      outline none

