.callControl
  display none
  position relative
  left 0px
  top 0
  height 75px
  color #666666
  font-family arial
  font-size 18px
  font-weight bold
  height auto
  display block
  .destination
    &::-webkit-input-placeholder
      color #04AFF0
      font-style italic
      padding-left 5px
      font-weight 400
  hr
    border none
    border-bottom 1px solid #3c3c3c
  input
    background #333
    border 1px solid #3c3c3c
    color #d3d3d3
    font-family arial
    font-size 18px
    padding 0
    border-radius 0
    width 171px
    line-height 30px
    padding-left 8px
    padding-right 35px
    &:focus
      outline none

.callPopup
  padding 0
  background #292929
  border 1px solid #3c3c3c
  box-shadow none
  width 220px
  border-radius 0
  height 168px
  span
    color #999999
    font-size 22px
  .incomingCallTitle
    display block
    padding 8px
    font-size 18px
    font-weight bold
    background #3c3c3c
    margin-bottom 18px
    color #E4E4E4
  .acceptIncomingCall
    background #3DA005
    border none
    border-radius 20px
    padding 5px 10px
    font-size 14px
    color #FFF
    margin-left 12px
  #rejectIncomingCallContainer
    text-align right
    button
      background #FF0000
      border none
      border-radius 20px
      padding 5px 10px
      font-size 14px
      color #FFF
      margin-right 12px

.started .holdAndAnswerButton,
.started .dropAndAnswerButton,
.client:not(.started) .acceptIncomingCall
  display inline-block

.holdAndAnswerButton, .dropAndAnswerButton, .acceptIncomingCall
  display none
      
.callPopup, .reInvitePopup
  width 170px
  height 137px

.transferPopup
  color white
  width 280px
  height 60px

.transferTarget
  width 200px
  
.call
  display none
  position absolute
  z-index 10
  top 25px
  left 265px
  display block
  position static
  top auto
  left auto
  
.incomingCallName, .incomingCallUser
  display block
  margin-left 10px
  margin-bottom 18px
  
.reInvite .reInvitePopup,
.incomingCall .callPopup
  {fadeInPopup}
  
.reInvite-done .reInvitePopup
  {fadeOut}

.client:not(.connected) .call
  {fadeOut}
