.bdsft-client
  .callControl
    padding 15px
    background #292929
    border 1px solid #3c3c3c
    position absolute
    bottom 40px
    right auto
    width 170px
    top auto
    left 0px
    letter-spacing 5px
    z-index 100
    box-sizing content-box
    height 228px
    padding-left 14px
    // display none
    // position relative
    // left 0px
    // top 0
    // height 75px
    // color #666666
    // font-family arial
    // font-size 18px
    // font-weight bold
    // height auto
    // display block
    .destination
      &::-webkit-input-placeholder
        color #04AFF0
        font-style italic
        padding-left 5px
        font-weight 400
    hr
      border none
      border-bottom 1px solid #3c3c3c
    input
      box-sizing border-box
      width 171px
      line-height 30px
      padding-left 8px
      padding-right 35px
    .historyButton
      font-size 16px !important
      padding-top 5px
      padding-bottom 5px
      outline none
      position absolute
      right: 10px;
      top: 23px;
      width: 25px;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      border-radius: 0;
      color: #B3B3B3;
      &.active
        color #04AFF0
    .control-bar
      margin-top 6px
      .main-button
        background #3DA005
        border-radius 14px
        width 70px
        padding 5px
        margin 0 auto
      a
        color #fff
        text-decoration none
        text-align center
        width 100%
        display inline-block
        font-size 14px
        font-weight 700
        letter-spacing 1
        span
          margin-right 5px

    .call
      display none
      position absolute
      z-index 10
      top 25px
      left 265px
      display block
      position static
      top auto
      left auto

  .view-audioOnly
    .callControl
      top 45px

  .enableCallControl.callcontrol-shown .callControl
    {fadeInPopup}
    
  .client.calling .call,
  .client:not(.connected) .call,
  .enableCallControl:not(.callcontrol-shown) .callControl
    {fadeOut}
    
  .enableCallControl.connected .call,
  .enableCallControl .callControl
    {fadeIn}