.bdsft-client
  .dialpad
    button
      text-align center
      opacity 0.8
      font-family arial
      font-size 20px
      line-height 33px
      cursor pointer
      color #B3B3B3
      background none
      font-weight normal
      padding 0
      margin 0
      border none
      width 50px
      &:active
        color #04AFF0
        background -webkit-gradient(linear, left top, left bottom, from(#F47A20), to(#FAA51A))
        background linear-gradient(to left bottom, #F47A20, #FAA51A)
      &:hover
        box-shadow 1px 1px 20px #999999
        background #3a3a3a
        box-shadow none
      &:focus
        outline none
      span
        display block
        font-size 8px
        text-align center
        font-weight bold
        margin-top -13px
        color #2D7B99
    .button-row
      text-align center
    .btn-star
      font-size 30px
      vertical-align middle

  .enableDialpad.callcontrol-shown .dialpadIconHide,
  .enableDialpad:not(.callcontrol-shown) .dialpadIconShow
    {fadeIn}

  .enableDialpad:not(.callcontrol-shown) .dialpadIconHide,
  .enableDialpad.callcontrol-shown .dialpadIconShow
    {fadeOut}
