.bdsft-client
	.client
		.fileshare-container
			display none

	.enable-file-share.started .file_share
		{fadeIn}

	.client:not(.started) .file_share
		{fadeOut}

	.enable-file-share .fileshare-container
		display table