.bdsft-client
	.client
		.fileshare-container
			display none

	.enableFileShare.started .file_share
		{fadeIn}

	.client:not(.started) .file_share
		{fadeOut}

	.enableFileShare .fileshare-container
		display table