.bdsft-client
  .main
    &:-webkit-full-screen-ancestor
      &:not(iframe)
        position absolute !important
        top 0px
        left 0px
        right 0px
        bottom 0px
        width 100%
        height 100%

  .video
    &:-webkit-full-screen
      position absolute
      height 100%
      border none
      z-index 1

  .fullscreen-shown
    &.client
      width 100% !important
      height 100% !important
    .main
      height 100%
    .video
      padding-bottom 0
      bottom 40px
      position absolute
      height auto !important
    .videoBar
      top auto !important
      bottom 0px
      position absolute

  :-webkit-full-screen
    .remote
      z-index 1
    .localVideo
      z-index 2

  :-webkit-full-screen .remote, :-webkit-full-screen .localVideo
    border none
    border-radius 0

  .enableFullScreen:not(.fullscreen-shown) .fullScreenExpand,
  .enableFullScreen.fullscreen-shown .fullScreenContract
    {fadeIn}

  .enableFullScreen.fullscreen-shown .fullScreenExpand,
  .enableFullScreen:not(.fullscreen-shown) .fullScreenContract
    {fadeOut}
