.bdsft-client
	.callHistory
		position absolute
		width 200px
		height 258px
		right auto
		left 200px
		bottom 40px
		top auto
		background #292929
		overflow hidden
		background-color #292929
		border-radius 0
		border 1px solid #3c3c3c
		box-shadow none
		color #999999
		z-index 200
		padding 0
		.rowSpace
			padding .5em
		.actions
			margin-top 12px
		.content
			padding 16px 0 10px 0
			height 68%
			width 200px
			overflow auto
			margin-bottom 10px
			.history-row:hover, .history-row.active
				background #353535
			.history-row
				cursor pointer
				position relative
				.row
					display block
					margin 0
					position relative
					height 46px
				.hist-direction
					position absolute
					color #3DA005
					left 3px
					font-family arial
					font-size 18px
					top 6px
				.icon-arrow-down-thick
					color #E9651D
				.hist-destination
					position absolute
					color #B3B3B3
					left 25px
					font-family arial
					font-size 18px
					text-decoration none
					top 6px
				.hist-date
					position absolute
					color #B3B3B3
					left 26px
					font-family arial
					font-size 10px
					top 29px
				.hist-length
					position absolute
					color #B3B3B3
					left 104px
					font-family arial
					font-size 10px
					top 29px
				.hist-details-arrow
					position absolute
					right 8px
					font-size 16px
					top 14px
		.historyClose
			a
				color #04AFF0
				font-size 14px
				font-weight 700
				text-decoration none
				margin-left 8px
				&:hover
					color #017EAD
		.callHistoryDetails
			background white
			width 194px
			height auto
			clear both
			top 0
			bottom -1
			left 201px
			right auto
			box-shadow none
			border-radius 0
			background #292929
			border 1px solid #3c3c3c
			border-top none
			overflow auto
			.callLink
				text-align left
				background #6F6F6F
				float left
				padding 6px 10px 6px 10px
				text-decoration none
				font-weight bold
				color #FFF !important
				border-radius 50px
				font-size 14px !important
			.historyDetailsClose
				text-align right
				margin-top 10px
				text-align right
				margin-top 10px
				display inline-block !important
				height 26px
				margin-top 0
				.icon-ok
					margin 0px
				a
					text-decoration none
					outline-color rgba(0, 0, 0, 0)
					color #aaa
					font-size 18px
			.table
				font-size 13px
				padding-left 8px
				#history-dt-close-container
					text-align right
		.classHistoryActions
			padding-top 2px
		.historyClear
			a
				text-decoration none
				color #FFF
				font-size 14px
				font-weight 700
				background #6F6F6F
				border-radius 20px
				padding 5px 10px
				margin-left 15px
				&:hover
					background #4E4E4E

	.enableCallHistory.history-shown .callHistory
		{fadeInPopup}

	.enableCallHistory:not(.history-shown) .callHistory
		{fadeOut}

	.enableCallHistory:not(.connected) .callHistory .callLink
		display none
