@import 'font-face'
font-face-inline('Exario-Icon-Fonts', 'Exario-Icon-Fonts', '../fonts')
font-face-inline('bsl_icons', 'bsl_icons', '../fonts')

.client [class^="icon-"], .client [class*=" icon-"]
  font-family 'bsl_icons'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon
  cursor pointer
  a
    speak none
    text-decoration none
    margin 0 0.35em 0 0

.icon
  a
    &:before
      color #FFFFFF


	// .icon-ok
//   &:before
//     content "\e011"
//     color #00FF00
//   &:hover
//     &:before
//       content "\e011"
//       @css {
//         color: <%= iconHightlightColor %>;        
//       }

// .icon-history
//   &:before
//     content "\e012"
//     color #FFFFFF
//     opacity .4
//   &:hover
//     &:before
//       content "\e012"
//       @css {
//         color: <%= iconHightlightColor %>;        
//       }

.icon-trash
  &:before
    content "\e013"
    color #FF0000

// .icon-left
//   &:before
//     content "\e000"
//     color #00FF00
//   &:hover
//     &:before
//       content "\e000"

// .icon-right
//   &:before
//     content "\e001"
//     color #00FF00
//   &:hover
//     &:before
//       content "\e001"
// .icon-fullScreenExpand
//   &:before
//     content "\e002"

// .icon-fullScreenContract
//   &:before
//     content "\e003"

// .icon-selfViewDisable
//   &:before
//     content "\e00a"

// .icon-selfViewEnable
//   &:before
//     content "\e00d"

// .icon-muteAudio
//   &:before
//     content "\e008"

// .icon-unmuteAudio
//   &:before
//     content "\e009"

// .icon-dialpadShow
//   &:before
//     content "\e010"

// .icon-dialpadHide
//   &:before
//     content "\e010"

// .icon-settings
//   &:before
//     content "\e00c"

// .icon-transfer
//   &:before
//     content "\e014"

// .icon-hold
//   &:before
//     content "\e015"

// .icon-resume
//   &:before
//     content "\e016"

.icon-screen-sharing
  &:before
    content "\e604"

.icon-screen-sharing-off
  &:before
    content "\e605"
    
.icon-link
  &:before
    content "\e00b"

.icon-dialpadShow:before, .icon-dialpadShow:hover:before, .icon-dialpadHide:before, .icon-dialpadHide:hover:before
  content "\ed3b"

.icon-hangup:before, .icon-hangup:hover:before
  content "\e600"

.icon-clock
  &:before
    content "\e634"

.client .icon-cog:before, .icon-settings:before, .icon-settings:hover:before
  content "\e601"

.icon-resume:before, .icon-resume:hover:before, .icon-hold:before, .icon-hold:hover:before
  content "\e6bb"

.icon-unmuteAudio:before, .icon-unmuteAudio:hover:before
  content "\e6c1"

.icon-muteAudio:before, .icon-muteAudio:hover:before
  content "\e6c3"

.icon-arrow-up-thick
  &:before
    content "\f5a4"

.icon-arrow-down-thick
  &:before
    content "\f5a5"

.icon-cancel3
  &:before
    content "\f2c9"

.icon-fullScreenContract:before, .icon-fullScreenContract:hover:before, .icon-fullScreenExpand:before, .icon-fullScreenExpand:hover:before
  content "\f371"

.icon-th
  &:before
    content "\e602"

.icon-selfViewEnable:before, .icon-selfViewEnable:hover:before, .icon-selfViewDisable:before, .icon-selfViewDisable:hover:before
  content "\f17f"

.icon-transfer:before, .icon-transfer:hover:before
  content "\f186"

.icon-angle-right
  &:before
    content "\f1fe"

.icon-call
  &:before
    content "\e00e"
    color #3B9E3B

.icon-hangup
  &:before
    content "\e00f"
    color #FF0000
    
.view-conference .icon-hangup:before, .view-conference .icon-hangup:hover:before
  color white !important

.view-conference .selfViewDisable, .view-conference .selfViewEnable
  text-align right !important

.view-conference .fullScreenExpand, .view-conference .fullScreenContract
  text-align left !important

.view-audioOnly .fullScreenExpand, .view-audioOnly .fullScreenContract,
.view-audioOnly .selfViewDisable, .view-audioOnly .selfViewEnable, 
.view-audioOnly .cell-fullScreen, .view-audioOnly .cell-selfView
  display none !important

.selfViewEnable a, .dialpadIconHide a,.unmuteAudio a,.fullScreenContract a
  color #04AFF0 !important

.watermark-icon
  position absolute
  top 50%
  left 50%
  backface-visibility hidden
  transform translate(-50%,-50%)
  color rgba(255, 255, 255, 0.08)
  z-index 1
  font-size 265px
  text-align center
  width 100%

@css {
	.icon-highlightable:hover{
  	color: <%= iconHightlightColor %>;
	}
}
@css {
	.icon a:hover, .icon span:hover, .videoBar a:hover {
		color: <%= iconHightlightColor %>;
	}
}
