.bdsft-client
  .messages
    position absolute
    font-family arial
    text-align left
    width auto
    font-size 12px
    bottom auto
    top 10px
    left 10px

  .view-audioOnly
    .messages
      left 10px !important
      top 48px !important
      font-weight bold
      font-size 14px

@css {
.bdsft-client .messages .normal {
  color: <%= infoMessageColor %>;
}
.bdsft-client .messages .success {
  color: <%= successMessageColor %>;
}
.bdsft-client .messages .warning {
  color: <%= successMessageColor %>;
}
.bdsft-client .messages .alert {
  color: <%= alertMessageColor %>;
}
}