.bdsft-client
	#screen_sharing_unsupported
		{unsupported}

	#screen_sharing_unsupported
		display none
		span
			text-decoration underline

	.enableScreenSharing:not(.screenshare-shown) .shareScreen,
	.enableScreenSharing.screenshare-shown .stopShareScreen
		{fadeIn}

	.enableScreenSharing.screenshare-shown .shareScreen, 
	.enableScreenSharing:not(.screenshare-shown) .stopShareScreen
		{fadeOut}
