.sms
  display none
  position absolute
  top 10px
  right 10px
  .smsView
    padding 10px
    border-radius 4px
    border 2px solid #DDDDDD
    box-shadow 0px 0px 10px #999999
  .smsLoginForm
    width 250px
  .smsSendForm
    width 600px
    display none
  .smsSendBody
    width 339px
  .smsInbox
    width 600px
    display none
    .inner
      max-height 250px
      overflow auto
    .cell
      padding 5px
    .from
      width 100px
    .status
      width 50px
    .time
      width 135px
    .body
      word-wrap break-word
      & > div
        display none
    .sms-inbox-item
      &.image
        .body
          .image
            span
              margin-right 5px
    .actions
      width 15px
    .icon-trash
      font-size 15px
  .smsStatus
    display none
    text-align right
    .content
      text-align right
      border 1px solid #c3c3c3
      background-color #e3e2e2
      font-size 70%
      padding 1px 3px
      border-top 0px
      margin-right 15px
      border-bottom-right-radius 4px
      border-bottom-left-radius 4px
    &.error
      color red

.sms .smsInbox .sms-inbox-item.text .body .text, .sms .smsInbox .sms-inbox-item.image .body .image,
.sms .smsInbox .sms-inbox-item.video .body .video, .sms .smsInbox .sms-inbox-item.audio .body .audio
  display block

.sms .smsInbox .sms-inbox-item.audio .body .audio audio,
.sms .smsInbox .sms-inbox-item.video .body .video video
  width 100%

.smsInbox
  .content
    display table-row-group