.bdsft-client
	.enable-mute.sound-shown.started .muteAudioIcon,
	.enable-mute:not(.sound-shown).started .unmuteAudioIcon
		{fadeIn}

	.enable-mute:not(.started) .muteAudioIcon, 
	.enable-mute:not(.started) .unmuteAudioIcon,
	.enable-mute:not(.sound-shown).started .muteAudioIcon, 
	.enable-mute.sound-shown.started .unmuteAudioIcon
		{fadeOut}
