.enable-mute.sound-shown.started .muteAudioIcon,
.enable-mute:not(.sound-shown).started .unmuteAudioIcon
  {fadeIn}

.enable-mute.connected .muteAudioIcon, 
.enable-mute.disconnected .muteAudioIcon,
.enable-mute.connected .unmuteAudioIcon, 
.enable-mute.disconnected .unmuteAudioIcon,
.enable-mute:not(.sound-shown) .muteAudioIcon, 
.enable-mute.sound-shown .unmuteAudioIcon
  {fadeOut}
