.bdsft-client
	.enableMute:not(.sound-hidden).started .muteAudioIcon,
	.enableMute.sound-hidden.started .unmuteAudioIcon
		{fadeIn}

	.enableMute:not(.started) .muteAudioIcon, 
	.enableMute:not(.started) .unmuteAudioIcon,
	.enableMute.sound-hidden.started .muteAudioIcon, 
	.enableMute:not(.sound-hidden).started .unmuteAudioIcon
		{fadeOut}
