.bdsft-client
	.transferPopup
		color white
		width 280px
		height 90px
		.target
			width 200px
		.actions
			padding 10px
		.reject
			color red

	.enableTransfer.started .transfer
		{fadeIn}

	.enableTransfer.started.transfer-shown .transferPopup
		{fadeInPopup}

	.enableTransfer.connected .transfer, 
	.enableTransfer.disconnected .transfer,
	.enableTransfer.not(.transfer-shown) .transferPopup
		{fadeOut}
