.bdsft-client
	.transferPopup
		color white
		width 280px
		height 60px

	.transferTarget
		width 200px

	.enableTransfer.started .transfer
		{fadeIn}

	.enableTransfer.started.transfer-shown .transferPopup
		{fadeInPopup}

	.enableTransfer.connected .transfer, 
	.enableTransfer.disconnected .transfer,
	.enableTransfer.not(.transfer-shown) .transferPopup
		{fadeOut}
