.videoBar
  position relative
  top 0px
  left 0px
  width 100%
  height 40px
  background black
  background-image -ms-linear-gradient(center top , #404040, #000000)
  background-image linear-gradient(to bottom, #404040, #000000)
  background-image -webkit-linear-gradient(#404040, #000000)
  background-image -moz-linear-gradient(top, #404040, #000000)
  border-radius 4px
  border 2px solid #DDDDDD
  box-shadow 0px 0px 10px #000000
  margin-top 5px
  background-image none
  border-radius 0px
  border none
  box-shadow none
  margin-top 0px
  background #292929
  border-top 1px solid #3c3c3c
  .icon
    z-index 10
    margin 0px 2.5px
    position absolute
  .table
    height 100%
    margin 6px
    margin 0
  .cell
    position relative
    top 0px
    left 0px
    width 35px
    width 36px
    .icon
      width 100%
      text-align center
      margin-top 10px
      margin-right 0
      margin-left 0
      a
        margin 0
    &:first-child
      padding 0
  span
    color grey
  .unmuteAudio
    margin-top -1px
  .leftSpacer
    width 8px
  .cell-hangup
    width 42px
  .subtitle
    display none
  .cellTimer
    position relative
    top 0
    left 0
    width auto
  .rightSpacer
    width 8px

.hangup, .fullScreen, .selfView, .muteAudioIcon, .dialpadIcon, .messages
  top 0
  left 0

#videoBar
  #settings
    width auto
    background-color transparent

.view-audioOnly .videoBar
  display inline-block
  width auto
  
.view-audioOnly
  .videoBar
    .table
      table-layout auto
      width auto
  .cell-hangup
    width 35px !important
    
.view-conference
  .cell-hangup
    width 30px !important
    top 2px
  .videoBar
    .cell
      .hangup
        margin-top 0
        width 140px
        background-color red
        border-radius 5px
        margin-left 10px
        height 36px
        line-height 14px
  .hangup
    .subtitle
      display block !important
      font-size 14px
      color white

      
.videoBar .icon, .videoBar a
  font-size 20px
  color grey
  text-decoration none

.videoBar .hold, .videoBar .resume
  margin-top -1px
  
.started .hangup, .calling .hangup
  {fadeIn}
  
.connected .hangup, .disconnected .hangup,
.client.held .hold, .client:not(.started) .hold,
.client:not(.held) .resume, .client:not(.started) .resume
  {fadeOut}  
  
.client:not(.enable-mute) .cell-muteAudio,
.client:not(.enable-transfer) .cell-transfer,
.client:not(.enable-hold) .cell-hold,
.client:not(.enable-timer) .cell-timer,
.client:not(.enable-full-screen) .cell-fullScreen,
.client:not(.enable-self-view) .cell-selfView,
.client:not(.enable-settings) .cell-settings,
.client:not(.enable-dialpad) .cell-dialpad,
.client:not(.enable-shareScreen) .cell-shareScreen,
.client:not(.enable-call-control) .callControl
  display none !important