.bdsft-client
	.whiteboard
		position absolute
		top 40px
		left 378px
		.canvas
			border-radius 4px
			border 2px solid #DDDDDD
			box-shadow 0px 0px 10px #999999
			background-color white
		.tools
			padding-bottom 10px
			a
				border 1px solid black
				height 30px
				line-height 30px
				padding 0 10px
				vertical-align middle
				text-align center
				text-decoration none
				display inline-block
				color black
				font-weight bold
				&.selected
					border-color red
					border-width 3px

	.enableWhiteboard.whiteboard-shown .whiteboard
		{fadeInPopup}

	.enableWhiteboard:not(.whiteboard-shown) .whiteboard
		{fadeOut}

	#whiteboard_unsupported
		{unsupported}