.authPopup.fadeable.popup
  span User ID
  br
  input.userid(type='text', value='')
  br
  span Auth User ID
  br
  input.authUserid(type='text', value='')
  br
  span Password
  br
  input.password(type='password', value='')
  br
  br
  .alert
  button.ok.button(type='button') Sign in

