.callControl.destination-container.fadeable.popup
  input.destination(type='text', onclick='this.focus();this.select()')
  button.historyButton(title='Call History')
    i.icon-clock
  hr
  .dialpadHolder
  .control-bar
    .call.main-button
      a(href='') Call

