.dialpad.fadeable.popup
  .callControl.destination-container
    input.destination(type='text', onclick='this.focus();this.select()')
    button.history-button(title='Call History')
      i.icon-clock
    hr
  .button-row
    button 1
    button 2
    button 3
  .button-row
    button 4
    button 5
    button 6
  .button-row
    button 7
    button 8
    button 9
  .button-row
    button.btn-star *
    button 0
    button #
  .dialpad-control-bar
    .call.main-button
      a(href='') Call

