.dialpad
  .button-row
    button.keys 1
    button.keys 2
    button.keys 3
  .button-row
    button.keys 4
    button.keys 5
    button.keys 6
  .button-row
    button.keys 7
    button.keys 8
    button.keys 9
  .button-row
    button.keys.btn-star *
    button.keys 0
    button.keys #
