.callPopup.fadeable.popup
  span.incomingCallTitle Incoming Call
  span.incomingCallName
  span.incomingCallUser
  .table
    .cell
      button.acceptIncomingCall.button(type='button') Accept
      button.holdAndAnswerButton.button(type='button') Hold And Answer
      button.dropAndAnswerButton.button(type='button') Drop And Answer
    #rejectIncomingCallContainer.cell
      button.rejectIncomingCall.button(type='button') Reject

