.quality.quality1
  span.icon-quality.icon-quality1(title='Call Quality')
.quality.quality2
  span.icon-quality.icon-quality2(title='Call Quality')
.quality.quality3
  span.icon-quality.icon-quality3(title='Call Quality')
.quality.quality4
  span.icon-quality.icon-quality4(title='Call Quality')