.reInvitePopup.fadeable.popup
  span.title ReInvite
  br
  br
  span.incomingCallName
  br
  span.incomingCallUser
  br
  br
  button.acceptReInviteCall.button(type='button') Accept
  button.rejectReInviteCall.button(type='button') Reject