.settingsPopup.table.collapse.fixed.fadeable.popup
  .row
    ul.tabs
      li
        a(href='#tab1').configure
          span.icon-cog
          | Configure
      li
        a(href='#tab2').layout
          span.icon-th
          | Layout
    #tab1
      .displayNameRow.row
        span.cell Display Name
        input.displayName.cell(type='text', value='')
      .authenticationUseridRow.row
        span.cell Auth User ID
        input.authenticationUserid.cell(type='text', value='')
      .useridRow.row
        span.cell User ID
        input.userid.cell(type='text', value='')
      .passwordRow.row
        span.cell Password
        input.password.cell(type='password', value='')
      .hdRow.row
        span.cell Start in HD
        input.hd.cell(type='checkbox')
        br
      .autoAnswerRow.row
        span.cell Auto Answer
        input.autoAnswer.cell(type='checkbox')
      .bandwidthRow.row
        span.cell Bandwidth
        span.cell
          input.bandwidthLow.short(type='text', maxlength='4', value='', placeholder='low')
          input.bandwidthMed.short(type='text', maxlength='4', value='', placeholder='medium')
          input.bandwidthHigh.short(type='text', maxlength='4', value='', placeholder='high')
      .row
        span.cell
          a.btn.signIn(href='', title='Sign In') Sign In
          a.btn.signOut(href='', title='Sign Out') Sign Out
    #tab2
      .selfViewDisableRow.row
        span.cell Disable Self View
        input.selfViewDisable.cell(type='checkbox')
      .resolutionRow
        .row
          span.resolutionTypeRow.cell Mode
          select.resolutionType.cell
            option(value='standard') standard
            option(value='widescreen') widescreen
        .row
          span.resolutionDisplayRow.cell Resolution
          span.cell
            select.resolutionDisplayStandard.resolutionSubType(style='display: inline-block;')
              option(value='960x720') 960 x 720
              option(value='640x480') 640 x 480
              option(value='320x240') 320 x 240
            select.resolutionDisplayWidescreen.resolutionSubType(style='display: none;')
              option(value='1280x720') 1280 x 720
              option(value='640x360') 640 x 360
              option(value='320x180') 320 x 180
        .row
          span.resolutionEncodingRow.cell Encoding
          span.cell
            select.resolutionEncodingStandard.resolutionSubType(style='display: inline-block;')
              option(value='960x720') 960 x 720
              option(value='640x480') 640 x 480
              option(value='320x240') 320 x 240
            select.resolutionEncodingWidescreen.resolutionSubType(style='display: none;')
              option(value='1280x720') 1280 x 720
              option(value='640x360') 640 x 360
              option(value='320x180') 320 x 180
      .row
        span.cell
          a.btn.save(href='', title='Save Settings') Save Settings
          a.clear(href='', title='Reset Settings') Reset Settings

