.sms
  .view
    .table.fixed.loginForm
      .row
        label.cell Name:
        input.cell.name(type='text', name='name', placeholder='Email or TN')
      .row
        label.cell Password:
        input.cell.password(type='password', name='password')
      .row
        .cell
        input.cell.login(type='button', value='Log In')
    .inbox
      fieldset
        legend Inbox
        .inner
          .table.fixed
            .row
              .cell.title.status Status
              .cell.title.time Received
              .cell.title.from From
              .cell.title.body Message
              .cell.title.actions
            .inboxContent
    .sendForm
      div
        div
          span To
          input.sendTo(type='text', placeholder='US Phone Number')
          span Text
          input.sendBody(type='text', placeholder='Message to Send')
          input.sendButton(type='button', value='Send SMS')
    #sample.inboxItem.inboxItemSample.row
      .status.cell
      .time.cell
      .from.cell
      .body.cell
        .image
          a(href='', target='_blank')
            span
            img(src='')
        .video
          video(controls='')
        .audio
          audio(controls='')
        .text
      .actions.cell
        a.icon-trash.icon-highlightable(href='javascript:;', title='Delete SMS')
  .status
    span.statusContent

