.sms
  .smsView
    .table.fixed.smsLoginForm
      .row
        label.cell Name:
        input.cell.smsName(type='text', name='name', placeholder='Email or TN')
      .row
        label.cell Password:
        input.cell.smsPassword(type='password', name='password')
      .row
        .cell
        input.cell.smsLogin(type='button', value='Log In')
    .smsInbox
      fieldset
        legend Inbox
        .inner
          .table.fixed
            .row
              .cell.title.status Status
              .cell.title.time Received
              .cell.title.from From
              .cell.title.body Message
              .cell.title.actions
            .content
    .smsSendForm
      div
        div
          span To
          input.smsSendTo(type='text', placeholder='US Phone Number')
          span Text
          input.smsSendBody(type='text', placeholder='Message to Send')
          input.smsSendButton(type='button', value='Send SMS')
    #sample.sms-inbox-item.sms-inbox-item-sample.row
      .status.cell
      .time.cell
      .from.cell
      .body.cell
        .image
          a(href='', target='_blank')
            span
            img(src='')
        .video
          video(controls='')
        .audio
          audio(controls='')
        .text
      .actions.cell
        a.icon-trash.icon-highlightable(href='javascript:;', title='Delete SMS')
  .smsStatus
    span.content

