.transferPopup.fadeable.popup
  .title Transfer
  div
    input.target(type='text', placeholder='To Target')
    input.typeAttended(type='checkbox')
    | Attended
  .actions
    button.accept.button(type='button') Transfer
    button.reject.button(type='button') Cancel