.videoBar
  .table.fixed.collapse
    .cell.leftSpacer
    .cell.cell-selfView
      .selfViewDisable.icon.fadeable
        a.icon-selfViewDisable(href='', title='Disable Self View')
      .selfViewEnable.icon.fadeable
        a.icon-selfViewEnable(href='', title='Enable Self View')
    .cell.cell-dialpad
      .dialpadIconShow.icon.fadeable
        a.icon-dialpadShow(href='', title='Show Dialpad')
      .dialpadIconHide.icon.fadeable
        a.icon-dialpadHide(href='', title='Hide Dialpad')
    .cell.cell-muteAudio
      .icon.fadeable.muteAudioIcon
        a.icon-muteAudio(href='', title='Mute Audio')
      .icon.fadeable.unmuteAudioIcon
        a.icon-unmuteAudio(href='', title='Unmute Audio')
    .cell.cell-hold
      .hold.icon.fadeable
        a.icon-hold(href='', title='Hold Call')
      .resume.icon.fadeable
        a.icon-resume(href='', title='Resume Call')
    .cell.cell-hangup
      .hangup.icon.fadeable
        a.icon-hangup(href='', title='Hangup')
        .subtitle End Conference
    .cell.cell-transfer
      .transfer.icon.fadeable
        a.icon-transfer(href='', title='Transfer')
    .cell.cell-shareScreen
      .icon.fadeable.shareScreen
        a.icon-screen-sharing(href='', title='Share Screen')
      .icon.fadeable.stopShareScreen
        a.icon-screen-sharing-off(href='', title='Stop Share Screen')
    .cell.cell-timer
      .timer.fadeable
    .cell.cell-settings
      .settings.icon.fadeable
        a.icon-settings(href='', title='Settings')
    .cell.cell-fullScreen
      .fullScreenExpand.icon.fadeable
        a.icon-fullScreenExpand(href='', title='Expand Full Screen')
      .fullScreenContract.icon.fadeable
        a.icon-fullScreenContract(href='', title='Contract Full Screen')
    .cell.rightSpacer

