#unsupported.unsupported
#whiteboard_unsupported.unsupported
#screen_sharing_unsupported.unsupported
  | Could not retrieve screen capture. Do you have it enabled?
  br
  |   Open link to check : 
  span chrome://flags/#enable-usermedia-screen-capture
noscript
  #javascript_disabled.unsupported
    | JavaScript must be enabled to load the WebRTC client
#conversejs
#client.client
  .authPopup.fadeable.popup
    span User ID
    br
    input.userid(type='text', value='')
    br
    span Auth User ID
    br
    input.authUserid(type='text', value='')
    br
    span Password
    br
    input.password(type='password', value='')
    br
    br
    .alert
    button.authPopupButton.button(type='button') Sign in
  .fileshare-container.table
    .cell
      .file_share.fadeable
        span Share File:
        br
        input(type='file')
        .status
  .main
    .errorPopup
    .callPopup.fadeable.popup
      span.incomingCallTitle Incoming Call
      span.incomingCallName
      span.incomingCallUser
      .table
        .cell
          button.acceptIncomingCall.button(type='button') Accept
          button.holdAndAnswerButton.button(type='button') Hold And Answer
          button.dropAndAnswerButton.button(type='button') Drop And Answer
        #rejectIncomingCallContainer.cell
          button.rejectIncomingCall.button(type='button') Reject
    .reInvitePopup.fadeable.popup
      span.title ReInvite
      br
      br
      span.incomingCallName
      br
      span.incomingCallUser
      br
      br
      button.acceptReInviteCall.button(type='button') Accept
      button.rejectReInviteCall.button(type='button') Reject
    .transferPopup.fadeable.popup
      .title Transfer
      div
        input.transferTarget(type='text', placeholder='To Target')
        input.transferTypeAttended(type='checkbox')
        | Attended
      .actions
        button.acceptTransfer.button(type='button') Transfer
        button.rejectTransfer.button(type='button') Cancel
    .settingsPopup.table.collapse.fixed.fadeable.popup
      .row
        ul.tabs
          li
            a(href='#tab1')
              span.icon-cog
              | Configure
          li
            a(href='#tab2')
              span.icon-th
              | Layout
        #tab1
          .settingDisplayNameRow.row
            span.cell Display Name
            input.settingDisplayName.cell(type='text', value='')
          .settingAuthenticationUseridRow.row
            span.cell Auth User ID
            input.settingAuthenticationUserid.cell(type='text', value='')
          .settingUseridRow.row
            span.cell User ID
            input.settingUserid.cell(type='text', value='')
          .settingPasswordRow.row
            span.cell Password
            input.settingPassword.cell(type='password', value='')
          .settingHDRow.row
            span.cell Start in HD
            input.settingHD.cell(type='checkbox')
            br
          .settingAutoAnswerRow.row
            span.cell Auto Answer
            input.settingAutoAnswer.cell(type='checkbox')
          .settingBandwidthRow.row
            span.cell Bandwidth
            span.cell
              input.settingBandwidthLow.short(type='text', maxlength='4', value='', placeholder='low')
              input.settingBandwidthMed.short(type='text', maxlength='4', value='', placeholder='medium')
              input.settingBandwidthHigh.short(type='text', maxlength='4', value='', placeholder='high')
          .row
            span.cell
              a.btn.sign-in(href='', title='Sign In') Sign In
              a.btn.sign-out(href='', title='Sign Out') Sign Out
        #tab2
          .settingSelfViewDisableRow.row
            span.cell Disable Self View
            input.settingSelfViewDisable.cell(type='checkbox')
          //
            <div class="row">
            <span class="cell">Window Zoom</span>
            <input class="settingZoom cell short" type="text" maxlength="4" value=""/>
            </div>
            <div class="row">
            <span class="cell">Self View Window</span>
            <span class="cell">
            <input class="settingLocalVideoTop short" type="text" maxlength="4" value=""/><span> top </span>
            <input class="settingLocalVideoLeft short" type="text" maxlength="4" value=""/><span> left </span>
            </span>
            </div>
            <div class="row">
            <span class="cell">Call History Window</span>
            <span class="cell">
            <input class="settingCallHistoryTop short" type="text" maxlength="4" value=""/><span> top </span>
            <input class="settingCallHistoryLeft short" type="text" maxlength="4" value=""/><span> left </span>
            </span>
            </div>
            <div class="row">
            <span class="cell">Call Stats Window</span>
            <span class="cell">
            <input class="settingCallStatsTop short" type="text" maxlength="4" value=""/><span> top </span>
            <input class="settingCallStatsLeft short" type="text" maxlength="4" value=""/><span> left </span>
            </span>
            </div>
            <div class="row">
            <span class="cell">Page Color</span>
            <input class="settingColor cell" type="color" /><br>
            </div>
          .settingResolutionRow
            // <span class="cell">Resolution</span>
            .row
              span.settingResolutionTypeRow.cell Mode
              select.resolutionTypeSelect.cell
            .row
              span.settingResolutionDisplayRow.cell Resolution
              span.cell
                select.resolutionDisplayStandardSelect.resolutionSubType
                select.resolutionDisplayWidescreenSelect.resolutionSubType
            .row
              span.settingResolutionEncodingRow.cell Encoding
              span.cell
                select.resolutionEncodingStandardSelect.resolutionSubType
                select.resolutionEncodingWidescreenSelect.resolutionSubType
          .row
            span.cell
              a.btn.saveSettings(href='', title='Save Settings') Save Settings
              a.clear(href='', title='Reset Settings') Reset Settings
    .video
      span.icon-facetime-video.watermark-icon
      video.remoteVideo(autoplay='autoplay')
      .localVideo.fadeable
        .inner
          video(autoplay='autoplay', muted='true')
    .videoBar
      .table.fixed.collapse
        .cell.leftSpacer
        .cell.cell-selfView
          .selfViewDisable.icon.fadeable
            a.icon-selfViewDisable(href='', title='Disable Self View')
          .selfViewEnable.icon.fadeable
            a.icon-selfViewEnable(href='', title='Enable Self View')
        .cell.cell-dialpad
          .dialpadIconShow.icon.fadeable
            a.icon-dialpadShow(href='', title='Show Dialpad')
          .dialpadIconHide.icon.fadeable
            a.icon-dialpadHide(href='', title='Hide Dialpad')
        .cell.cell-muteAudio
          .icon.fadeable.muteAudioIcon
            a.icon-muteAudio(href='', title='Mute Audio')
          .icon.fadeable.unmuteAudioIcon
            a.icon-unmuteAudio(href='', title='Unmute Audio')
        .cell.cell-hold
          .hold.icon.fadeable
            a.icon-hold(href='', title='Hold Call')
          .resume.icon.fadeable
            a.icon-resume(href='', title='Resume Call')
        .cell.cell-hangup
          .hangup.icon.fadeable
            a.icon-hangup(href='', title='Hangup')
            .subtitle End Conference
        .cell.cell-transfer
          .transfer.icon.fadeable
            a.icon-transfer(href='', title='Transfer')
        .cell.cell-shareScreen
          .icon.fadeable.shareScreen
            a.icon-screen-sharing(href='', title='Share Screen')
          .icon.fadeable.stopShareScreen
            a.icon-screen-sharing-off(href='', title='Stop Share Screen')
        .cell.cell-timer
          .timer.fadeable
        .cell.cell-settings
          .settings.icon.fadeable
            a.icon-settings(href='', title='Settings')
        .cell.cell-fullScreen
          .fullScreenExpand.icon.fadeable
            a.icon-fullScreenExpand(href='', title='Expand Full Screen')
          .fullScreenContract.icon.fadeable
            a.icon-fullScreenContract(href='', title='Contract Full Screen')
        .cell.rightSpacer
    .connected-icon
      span.icon-link.exario(title='Websockets Status')
    .registered-icon
      span.icon-link.exario(title='Registered')
    .quality1
      span.icon-quality1.exario(title='Call Quality')
    .quality2
      span.icon-quality2.exario(title='Call Quality')
    .quality3
      span.icon-quality3.exario(title='Call Quality')
    .quality4
      span.icon-quality4.exario(title='Call Quality')
    .dialpad.fadeable.popup
      .callControl.destination-container
        input.destination(type='text', onclick='this.focus();this.select()')
        button.history-button(title='Call History')
          i.icon-clock
        hr
      .button-row
        button 1
        button 2
        button 3
      .button-row
        button 4
        button 5
        button 6
      .button-row
        button 7
        button 8
        button 9
      .button-row
        button.btn-star *
        button 0
        button #
      .dialpad-control-bar
        .call.main-button
          a(href='') Call
    .callHistory
      .content
      .classHistoryActions
        //
          <span class="historyBack">
          <a href="" title="Previous" class="icon-arrow-up-thick"></a>
          </span>
        span.historyClear
          a(href='', title='Clear History') Clear
        span.historyClose
          a(href='', title='Close History') Close
        //
          <span class="historyForward">
          <a href="" title="Next" class="icon-arrow-down-thick"></a>
          </span>
      .callHistoryDetails.popup
        #history-dt-close-container
          span.historyDetailsClose.cell
            a.icon-cancel3(href='', title='Close')
        .table
          .row
            .cell Resolution In : 
            .resolutionIn.cell.default-color
          .row
            .cell Resolution Out : 
            .resolutionOut.cell.default-color
          .row
            .cell Bitrate In : 
            .bitrateIn.cell.default-color
          .row
            .cell Bitrate Out : 
            .bitrateOut.cell.default-color
          .row
            .cell Frame Rate In : 
            .frameRateIn.cell.default-color
          .row
            .cell Frame Rate Out : 
            .frameRateOut.cell.default-color
          .row
            .cell Audio Lost : 
            .audioLostPer.cell.default-color %
          .row
            .cell Video Out : 
            .videoLostPer.cell.default-color %
          .row
            .cell Jitter : 
            .jitter.cell.default-color
        .actions.table
          a.callLink.cell(href='', title='Call')
    .callStats
      .stats-container
      .table.fixed.collapse
        .heading
          .cell Video Stats
          .cell Audio Stats
        .row
          .cell
            | Bitrate out: 
            a.stats-var(href='javascript:;', data-type='video', data-var='kiloBitsSentPerSecond')
            |  kb/s
          .cell
            | Bitrate out: 
            a.stats-var(href='javascript:;', data-type='audio', data-var='kiloBitsSentPerSecond')
            |  kb/s
        .row
          .cell
            | Bitrate in: 
            a.stats-var(href='javascript:;', data-type='video', data-var='kiloBitsReceivedPerSecond')
            |  kb/s
          .cell
            | Bitrate in: 
            a.stats-var(href='javascript:;', data-type='audio', data-var='kiloBitsReceivedPerSecond')
            |  kb/s
        .row
          .cell
            | Lost: 
            a.stats-var(href='javascript:;', data-type='video', data-var='packetsLost')
            |  packets (
            a.stats-var(href='javascript:;', data-type='video', data-var='packetsLostPer')
            |  %)
          .cell
            | Lost: 
            a.stats-var(href='javascript:;', data-type='audio', data-var='packetsLost')
            |  packets (
            a.stats-var(href='javascript:;', data-type='audio', data-var='packetsLostPer')
            |  %)
        .row
          .cell
            | Frame rate out: 
            a.stats-var(href='javascript:;', data-type='video', data-var='googFrameRateSent')
            |  in: 
            a.stats-var(href='javascript:;', data-type='video', data-var='googFrameRateReceived')
          .cell
            | Audio Level out: 
            a.stats-var(href='javascript:;', data-type='audio', data-var='audioInputLevel')
            |  in: 
            a.stats-var(href='javascript:;', data-type='audio', data-var='audioOutputLevel')
        .row.spacer
        .heading
          .cell Resolution
          .cell Link
        .row
          .cell
            | In: 
            span.stats-var(data-type='video', data-var='googFrameWidthReceived')
            |  x 
            span.stats-var(data-type='video', data-var='googFrameHeightReceived')
            |  Out: 
            span.stats-var(data-type='video', data-var='googFrameWidthSent')
            |  x 
            span.stats-var(data-type='video', data-var='googFrameHeightSent')
          .cell
            span.statsDelay
              | Delay: 
              a.stats-var(href='javascript:;', data-type='audio', data-var='googRtt')
            |  Jitter: 
            a.stats-var(href='javascript:;', data-type='audio', data-var='googJitterReceived')
        .row.spacer
    .messages
      .alert
      .success
      .warning
      .normal
  .historyRowSample
    .row
      a.hist-destination(href='', title='Number')
      span.hist-direction
      span.hist-date
      span.hist-length
      span.hist-details-arrow.icon-angle-right
  .whiteboard
    .tools
      a.tooltype(href='.simple_sketch', data-tool='marker') Marker
      a.tooltype(href='.simple_sketch', data-tool='eraser') Eraser
    canvas.simple_sketch(width='600', height='400')
  .sms
    .smsView
      .table.fixed.smsLoginForm
        .row
          label.cell Name:
          input.cell.smsName(type='text', name='name', placeholder='Email or TN')
        .row
          label.cell Password:
          input.cell.smsPassword(type='password', name='password')
        .row
          .cell
          input.cell.smsLogin(type='button', value='Log In')
      .smsInbox
        fieldset
          legend Inbox
          .inner
            .table.fixed
              .row
                .cell.title.status Status
                .cell.title.time Received
                .cell.title.from From
                .cell.title.body Message
                .cell.title.actions
              .content
      .smsSendForm
        div
          div
            span To
            input.smsSendTo(type='text', placeholder='US Phone Number')
            span Text
            input.smsSendBody(type='text', placeholder='Message to Send')
            input.smsSendButton(type='button', value='Send SMS')
      #sample.sms-inbox-item.sms-inbox-item-sample.row
        .status.cell
        .time.cell
        .from.cell
        .body.cell
          .image
            a(href='', target='_blank')
              span
              img(src='')
          .video
            video(controls='')
          .audio
            audio(controls='')
          .text
        .actions.cell
          a.icon-trash(href='javascript:;', title='Delete SMS')
    .smsStatus
      span.content

