.whiteboard
  .tools
    a.tooltype(href='.simple_sketch', data-tool='marker') Marker
    a.tooltype(href='.simple_sketch', data-tool='eraser') Eraser
  canvas.simple_sketch(width='600', height='400')

