//- Globals
@import 'node_modules/webrtc-core/styles/variables'
@import 'globals/_variables'
@import 'globals/_reset'

//- Components
@import 'components/base'
@import 'components/client'
@import 'components/screenshare'
@import 'components/fullscreen'
@import 'components/icons'
@import 'components/quality'
@import 'components/sound'
