//- Globals
@import 'globals/_variables'
@import 'globals/_reset'

//- Components
@import 'components/base'
@import 'components/client'
@import 'components/history'
@import 'components/stats'
@import 'components/dialpad'
@import 'components/callcontrol'
@import 'components/incomingcall'
@import 'components/reinvite'
@import 'components/video'
@import 'components/settings'
@import 'components/whiteboard'
@import 'components/icons'
@import 'components/connectionstatus'
@import 'components/quality'
@import 'components/videobar'
@import 'components/sms'
@import 'components/authentication'
@import 'components/timer'
@import 'components/messages'
@import 'components/fileshare'
