//- Globals
@import 'globals/_variables'
@import 'globals/_reset'

//- Components
@import 'components/base'
@import 'components/history'
@import 'components/stats'
@import 'components/dialpad'
@import 'components/callcontrol'
@import 'components/video'
